.card_box {
  display: flex;
  flex-direction: column;
  color: #fff;
  background: #212529;
  margin: 10px;
  padding: 15px 17px;
  border-radius: 5px;
  border: 1px solid #3e4042;
  max-width: 310px;
}

.card-title {
  display: flex;
  align-items: center;
}

.card-title img {
  width: 45px;
  margin-right: 15px;
}

.card-button {
  margin-top: auto;
}
.view-btn {
  background-color: #ff7324;
  border-color: #ff7324;
  color: #fff;
  line-height: 1.5;
}
.view-btn:hover {
  background-color: #f05700;
  border-color: #f05700;
  color: #fff;
  box-shadow: none;
}
